*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #222222;
}

img{
    width: 50px;        
}

h1{
    text-align: center;
}

h2{
    padding: 5px 10px;
    text-align: center;
    color: white;
}

p{
    text-align: center;
}

.head{
    padding: 10px;
    background-color: #1b4079;
    font-weight: bold;
}

.container{
    display: flex;
    background-color: #8caace;
}

.foot{
    height: 200px;
    background-color: #222222;
    padding: 10px;
}

.left{
    display: flex;
    flex-direction: column;
}

.b1{
    
    background-color: #95a3b3;
}

.b2{
    
    background-color: #4b4e6d;
}

.b3{
    background-color: #84dcc6;
}

.b1, .b2, .b3{
    width: 200px;
    height: 200px;
}