h1{
    color: skyblue;
    text-align: center;
}

p{
    text-align: center;
    border: 1px solid black;
}
 
 .head{
    padding: 10px;
    background-color: lightpink;
    font-weight: bold;
 }
